.card{
  outline-color: purple;  
  background-color: yellow;
  }
body {
background-color: lightblue;
}


    h1 {
    color: purple;
    font-weight: bold;
    font-size: 18px;

}
p {
    color: purple;
    font-weight: bold;
    font-size: 18px;
}
img {
    width: 500px;
    height: 500px;
}

#go{
    text-align: center;
}

#teams{
    text-align: center;
}

#laker-info{
    text-align: center;
}

.p-text{
 font-size: 15px;
 float: left;
 width: 67%;
}

#chips{
    margin: 0%;
    padding: 0%;
    border: 10%;
    height: 80%;
    padding-bottom: 50px;
}

.font-for-h3{
   font-size: 20px; 
}

#bob-short-img{
height: 250px;
width: 400px;
padding-left: 175px;
}
